  h1 {
    padding: .2em;
    margin: 0;
  }
  
  #products {
    float: left;
    width: 500px;
    margin-right: 2em;
  }
  
  #cart,
  #trash {
    width: 200px;
    float: left;
    margin-top: 1em;
  }
  /* style the list to maximize the droppable hitarea */
  
  #cart ol,
  #trash ol {
    margin: 0;
    padding: 1em 0 1em 3em;
  }
  
  #cart img, #catalog img {
	width:50px;
  }

  ul li{
	list-style:none;
	vertical-align:middle;
  }
